<div id="total">
    <div id="left">
        <div class="m-3">
          <img src="assets/img/icon/header_icon1.png" alt="" />
          <span>34ºc, Sunny </span>
        </div>
        <div class="m-3">
          <img src="assets/img/icon/header_icon1.png" alt="" />
          <span>Tuesday, 18th June, 2019</span>
        </div>
    </div>
    <div id="right">
        <div>
          <img src="assets/img/icon/icons8-twitter-30.png" alt=""  class="m-3" style="background-color: white;"/>
          <img src="assets/img/icon/icons8-instagram-24.png" alt="" class="m-3" style="background-color: white;"/>
          <img src="assets/img/icon/icons8-pinterest-24.png" alt="" class="m-3" style="background-color: white;"/>
        </div>
    </div>
</div>

