<div class="container-fluid">
  <div class="row">
    <app-header-top></app-header-top>
  </div>
  <div class="row p-3">
    <div class="col-lg-4">
      <img src="assets/img/logo/logo.png" alt="" />
    </div>
    <div class="col-lg-8">
      <img src="assets/img/hero/header_card.jpg" alt="" />
    </div>
  </div>
  <div class="row">
    <app-menu-bar></app-menu-bar>
  </div>

  <router-outlet></router-outlet>

  <div class="row">
    <div class="col-lg-8">
      <div class="row" id="mainc">
        <img src="assets/img/trending/trending_top.jpg" alt="">
        <div class="bottom-left">
          <div id="mainh">
            APPETIZERS
          </div>
          <h2 >
            <a routerLink="/finalone" id="maindesc">Welcome To The Best Model Winner<br> Contest At Look of the year</a>
          </h2>
        </div>
      </div>
      <div class="row mt-5" >
        <div class="col-lg-4" *ngFor="let card of cards">
          <app-main-bottom [link]="card.link" [name]="card.heading" [desc]="card.desc"></app-main-bottom>
        </div>
      </div>
    </div>
    <div class="col-lg-4" >
      <div class="row" *ngFor="let obj of rightone">
        <app-right-one [a]="obj.link" [b]="obj.name"></app-right-one>
      </div>
    </div>
  </div>
</div>
